html {
	background-color: #202020;
	width: 98%;
	height: 98%;
	font-family: 'Philosopher', sans-serif;
}

body {
	text-align: center;
	color: white;
	margin: auto;
	width: 300px;
	display: table;
	height: 100%;
}
.content {
	display: table-cell;
	vertical-align: middle;	
}

hr {
	width: 65%;
	margin: 1rem auto;
}
hr.large {
	width: 92.5%;
}

a,
a:link,
a:visited {
	color: white;
}
a:hover {
	color: #4b989e;
}

.links a {
	display: block;
	margin: 0.5rem auto;
}

a.special {
	text-decoration: none;
}